@media (max-width: 600px) {

    .productos{
        display: inherit;
        height: auto;
    }
    .products{
        margin-top: auto;
    }
    .main_section{
        padding: 4%;
    }
    .caracteristicas, .menciones{
        display: inherit
    }
}